.menu{
    margin: 2em auto;
    align-items: center;
    width: 70%;
}
h2{
    margin: auto;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}
section p{
    color: white;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid aquamarine;
    width: 100%;
}

th, td {
    letter-spacing: 1px;
    border: 1px solid aquamarine;
    color: white;
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(88, 173, 145);
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: rgba(71, 120, 120, 0.1);
}
tr:nth-child(odd) {
    background-color: rgba(148, 184, 184, 0.1);
}
.btn_menu{
    display: block;
    margin: 1em auto 4em;
}
.bold{
    font-weight: bold;
    background-color: #333;
}
.price_highlight{
    font-weight: bolder;
    color: whitesmoke;
}
#special-offer{
    margin: 2em auto;
    width: 70%;
}
#contact{
    margin: 2em auto;
    width: 70%;
}